<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UTTT.Ejemplo.Linq.Data.Properties.Settings.personaConnectionString2"
            connectionString="Data Source=persona.mssql.somee.com;Initial Catalog=persona;User ID=Karlamtz;Password=the1975kmgGG"
            providerName="System.Data.SqlClient" />
        <add name="UTTT.Ejemplo.Linq.Data.Properties.Settings.PersonaConnectionString"
            connectionString="data source=DESKTOP-ART4CME\SQLEXPRESS;&#xA;database=Persona;&#xA;Integrated Security=SSPI;&#xA;persist security info=True;"
            providerName="System.Data.SqlClient" />
        <add name="UTTT.Ejemplo.Linq.Data.Properties.Settings.ManualConnectionString"
            connectionString="Data Source=persona.mssql.somee.com;Initial Catalog=persona;Persist Security Info=True;User ID=	Karlamtz;Password=the1975kmgGG"
            providerName="System.Data.SqlClient" />
        <add name="UTTT.Ejemplo.Linq.Data.Properties.Settings.personaConnectionString1"
            connectionString="Data Source=persona.mssql.somee.com;Initial Catalog=persona;User ID=Karlamtz;Password=the1975kmgGG"
            providerName="System.Data.SqlClient" />
        <add name="UTTT.Ejemplo.Linq.Data.Properties.Settings.personaConnectionString3"
            connectionString="Data Source=persona.mssql.somee.com;Initial Catalog=persona;Persist Security Info=True;User ID=Karlamtz;Password=the1975kmgGG"
            providerName="System.Data.SqlClient" />
        <add name="UTTT.Ejemplo.Linq.Data.Properties.Settings.persona1ConnectionString4"
            connectionString="Data Source=persona1.mssql.somee.com;Initial Catalog=persona1;Persist Security Info=True;User ID=JairGarciaLuna_SQLLogin_2;Password=fw1lf36at4" />
        <add name="UTTT.Ejemplo.Linq.Data.Properties.Settings.persona1ConnectionString"
            connectionString="Data Source=personaj.mssql.somee.com;Initial Catalog=persona1;User ID=JairGarciaLuna_SQLLogin_2;Password=fw1lf36at4"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
